@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.shopcartv1 .pageName {
    position: relative;
    width: 539px;
    height: 58px;
    left: 821px;
    top: 80px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.9px;
    color: #272727;
    margin-bottom: 20em;
}

.shopcartv1 .continueButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 195px;
    height: 42px;
    left: 850px;
    top: 260px;
    background-color: white;
    border: none;
    text-decoration: none;
}

.shopcartv1 .continueStyle {
    width: 177px;
    height: 24px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4AA675;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.shopcartv1 .productsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 1194px;
    height: 384px;
    left: 363px;
    top: 360px;

}

.shopcartv1 .headingTable {
    width: 1194px;
    height: 42px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.shopcartv1 .productTitle {
    position: absolute;
    width: 207px;
    height: 26px;
    left: 0px;
    top: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D252C;
}

.shopcartv1 .priceTitle {
    position: absolute;
    width: 206px;
    height: 26px;
    left: 494px;
    top: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D252C;
}

.shopcartv1 .quantityTitle {
    position: absolute;
    width: 207px;
    height: 26px;
    left: 740px;
    top: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D252C;
}

.shopcartv1 .totalTitle {
    position: absolute;
    width: 206px;
    height: 26px;
    left: 987px;
    top: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    letter-spacing: -0.9px;
    color: #1D252C;
}

.shopcartv1 .subTotal {
    position: absolute;
    width: 89.57px;
    height: 26px;
    left: 1095px;
    top: 780px;

    /* H4 */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */

    letter-spacing: 0.1px;

    /* Base/Base Text */

    color: #1D252C;
}

.shopcartv1 .subPrice {
    position: absolute;
    width: 107px;
    height: 26px;
    left: 1205px;
    top: 780px;

    /* H4 */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    /* or 153% */

    text-align: right;
    letter-spacing: 0.1px;

    /* Base/Base Text */

    color: #1D252C;
}

.shopcartv1 .vat {
    position: absolute;
    width: 227px;
    height: 17px;
    left: 1085px;
    top: 831px;

    /* Hint Text */

    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height, or 142% */

    text-align: right;

    /* Base/Secondary Text */

    color: #818181;
}

.shopcartv1 .checkoutButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 185px;
    height: 48px;
    left: 1372px;
    top: 800px;

    background: #4AA675;
    border-radius: 4px;

}

.shopcartv1 .checkoutText {
    width: 100px;
    height: 24px;

    /* Large Button - Text */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    /* Base/White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.shopview1 .numericBoxV2 {
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #898989;
    border-radius: 2px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    bottom: 1px;
    right: 1px;
}