@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

body,
html {
    max-width: 1920px;
    margin: auto;
}

.favorites .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 260px;
    height: 96px;
    right: 18px;
    top: 93px;
}

.favorites .cartButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 260px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.favorites .favoriteButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 260px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.favorites .cartButtonStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 260px;
    height: 40px;

    /* Base/Primary */

    background: #4AA675;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.favorites .favoriteButtonStyle {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;

    width: 260px;
    height: 40px;

    /* Base/White */

    background: #FFFFFF;
    /* Base/Button Text */

    border: 1px solid #272727;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.favorites .priceDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 116px;
    height: 46px;
    right: 0px;
    top: 5px;
}

.favorites .priceStyle {
    width: 116px;
    height: 46px;

    /* H2 */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 46px;
    /* identical to box height, or 177% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.9px;

    /* Base/Primary */

    color: #4AA675;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.favorites .cardBody {
    width: 710px;
    height: 243px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.fav .listStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 1070px;
    height: auto;
    left: 325px;
    top: 332px;
}

.favorites .cardTitleStyle {
    width: auto;
    height: 46px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #1D252C;
}

.favorites .insideCard {
    padding-left: 30px;
}



.favorites .subTitle {
    position: absolute;
    height: 144px;
    left: 300px;
    right: 460px;
    top: 109px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D252C;
}

.favorites .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 63px;
    height: 28px;
    left: 300px;
    top: 58px;
}

.favorites .ratingValue {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 43px;
    height: 28px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    letter-spacing: -0.9px;
    color: #1D252C;
    flex: none;
    order: 1;
    flex-grow: 0;
}



.favorites .iconStyle {
    width: 16px;
    height: 16px;
    color: #4AA675;
}

.favorites .outlineIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 68px;
    color: #FFFFFF;
}

.favorites .heartIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 40px;
    color: #4AA675;
}

.fav .shopButton {
    width: 177px;
    height: 24px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #4AA675;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: white;
    border: none;
    text-decoration: none;
}

.fav .shopText {
    width: 177px;
    height: 24px;

    /* Large Button - Text */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    /* Base/Primary */

    color: #4AA675;
}

.fav .shopButtonDiv {
    position: absolute;
    left: 44.5em;
    top: 17em;
}

.fav .pageTitle {
    position: absolute;
    width: 539px;
    height: 58px;
    left: 730px;
    top: 170px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.9px;
    color: #272727;
}

.fav {
    position: relative;
}

.favorites .addToCart {
    width: 84px;
    height: 24px;

    /* Button Text - Medium */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* white */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.favorites .addToFav {
    width: 152px;
    height: 24px;

    /* Button Text - Medium */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Base/Button Text */

    color: #272727;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}