@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.minusplus .buttonStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 40px;
    height: 40px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background-color: white;
}

.minusplus .valueStyle {
    width: 24px;
    height: 24px;

    /* Base Text */

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;


    color: #272727;

}