@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.html {
    position: relative;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
}

.register .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;

    position: absolute;
    width: 420px;
    height: 696px;
    left: calc(50% - 420px/2);
    top: calc(50% - 696px/2);
}

.registerNameField .nameLabel {
    position: relative;
    width: 161px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px/2);


    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;


    letter-spacing: 0.1px;


    color: #424242;
}

.registerEmailField .emailLabel {
    position: relative;
    width: 47px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px/2);

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.1px;


    color: #424242;
}

.registerPasswordField .passwordLabel {
    position: relative;
    width: 82px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px/2);

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #424242;

}

.registerInput {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 420px;
    height: 48px;

    background: #FFFFFF;

    border: 1px solid #898989;
    border-radius: 2px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.register .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;

    width: 420px;
    height: 48px;

    background: #4AA675;
    border: none;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.register .button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 420px;
    height: 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)), #4AA675;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
}

.register .button:active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 420px;
    height: 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), #4AA675;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
}

.register .button:focus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 420px;
    height: 48px;
    background: #4AA675;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
}

.register .button:disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 420px;
    height: 48px;
    background: #4AA675;
    opacity: 0.7;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
}

.register .button::selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    width: 420px;
    height: 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), #4AA675;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: none;
}

.register .registerText {
    width: 79px;
    height: 24px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    text-align: center;


    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
}

.register .register-message {
    width: 190px;
    height: 24px;


    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;


    color: #1D252C;


    flex: none;
    order: 0;
    flex-grow: 0;
}


.register .login-link {
    width: 43px;
    height: 24px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #4AA675;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    position: absolute;
    left: 17.5em;
}

.register .registerRedirect {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0px;
    width: 243px;
    height: 24px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.registerPasswordField .frame-58 {
    width: 420px;
    height: 32px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.registerPasswordField .hintText {
    width: 420px;
    height: 34px;
    font-family: 'Red Hat Display';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #818181;
    flex: none;
    order: 0;
    flex-grow: 1;
}